<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>

<body style="background-color:rgb(157, 216, 39);">
    <div class="header-admin">
        <p style="color: white;">Forget Password</p>
    </div>
    <div class="login-container">
        <div class="login-text">
            <h1>Forget Password</h1>
        </div>
        <div class="login-form">
            <form id="forgetPassword" method="post" action="/api/forgetPassword">
                <label>EMAIL</label>
                <br>
                <br>
                <input type="text" name="email" id="username" placeholder="example@mail.com">
                <br><br>
                <label>PASSWORD</label>
                <br>
                <br>
                <input type="password" name="password" id="password" placeholder="***********" >
                <br><br>
                
                <div id="outer-login">
                    <div class="inner-login"><button type="submit" class="forgetBttn">Forget Password?</button></div>

                </div>
            </form>
        </div>
        

    </div>
</body>

</html>