<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
</head>

<body>
    <div id="main-wrapper">
        <header class="header-content">
            <img src="../public/img/img.png" alt="logo" />
            <div>
                <h1>SOME NAME</h1>
                <h2>Web Developer</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, aut sed id suscipit dignissimos a
                    nostrum praesentium ratione modi odio perspiciatis incidunt molestiae omnis consequuntur? Quasi
                    excepturi nemo quos harum!</p>
                <button onclick="location.href = 'contactMe';">CONTACT ME</button>
            </div>
        </header>
        <div class="row">
            <div class="column">
                <ul style="list-style-type:none;">
                    <li><span class="flex-container">
                            <h4 class="flex-child">Job role</h4>
                            <p class="flex-child">Web Developer</p>
                        </span></li>
                    <li><span class="flex-container">
                            <h4 class="flex-child">D.O.B</h4>
                            <p class="flex-child">04 July 1989</p>
                        </span></li>
                    <li><span class="flex-container">
                            <h4 class="flex-child">Mob</h4>
                            <p class="flex-child">9123456780</p>
                        </span></li>
                    <li><span class="flex-container">
                            <h4 class="flex-child">E-mail</h4>
                            <p class="flex-child">myname@gmail.com</p>
                        </span></li>
                    <li><span class="flex-container">
                            <h4 class="flex-child">Nationality</h4>
                            <p class="flex-child">Indian</p>
                        </span></li>
                </ul>
            </div>
            <div class="column">
                <ul style="list-style-type:none;">
                    <li><span class="flex-container">
                            <h4 class="flex-child">PHP</h4>
                        </span><progress id="file" value="80" max="100"> 80% </progress></li>
                    <li><span class="flex-container">
                            <h4 class="flex-child">JavaScript</h4>
                        </span><progress id="file" value="60" max="100"> 60% </progress></li>
                    <li><span class="flex-container">
                            <h4 class="flex-child">Angular JS</h4>
                        </span><progress id="file" value="70" max="100"> 70% </progress></li>
                    <li><span class="flex-container">
                            <h4 class="flex-child">MySQL</h4>
                        </span><progress id="file" value="56" max="100"> 56% </progress></li>
                </ul>
            </div>
        </div>
        <section>
            <div class="flex-container">

                <div class="flex-child">
                    <h2>WORK EXPERIENCE</h2>
                    <div class="content">
                        <div class="content-date">
                            <h4>2017-2020</h4>
                        </div>
                        <div class="content-child">
                            <h4>Team Leader</h4>
                            <p>ASTECH Solution</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa autem excepturi obcaecati
                                amet dolorum molestiae accusamus rem tenetur unde minima nesciunt nulla explicabo, iste
                                pariatur fugit nemo, soluta in hic!</p>
                        </div>
                    </div>
                    <div class="content">
                        <div class="content-date">
                            <h4>2017-2020</h4>
                        </div>
                        <div class="content-child">
                            <h4>Team Leader</h4>
                            <p>ASTECH Solution</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa autem excepturi obcaecati
                                amet dolorum molestiae accusamus rem tenetur unde minima nesciunt nulla explicabo, iste
                                pariatur fugit nemo, soluta in hic!</p>
                        </div>
                    </div>
                    <div class="content">
                        <div class="content-date">
                            <h4>2017-2020</h4>
                        </div>
                        <div class="content-child">
                            <h4>Team Leader</h4>
                            <p>ASTECH Solution</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa autem excepturi obcaecati
                                amet dolorum molestiae accusamus rem tenetur unde minima nesciunt nulla explicabo, iste
                                pariatur fugit nemo, soluta in hic!</p>
                        </div>
                    </div>
                </div>

                <div class="flex-child">
                    <h2>MY EDUCATION</h2>
                    <div class="content">
                        <div class="content-date">
                            <h4>2007-2010</h4>
                        </div>
                        <div class="content-child">
                            <h4>Certified JAVA Developer</h4>
                            <p>ABCD Institute of Programming</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                    <div class="content">
                        <div class="content-date">
                            <h4>2007-2010</h4>
                        </div>
                        <div class="content-child">
                            <h4>Certified JAVA Developer</h4>
                            <p>ABCD Institute of Programming</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                    <div class="content">
                        <div class="content-date">
                            <h4>2007-2010</h4>
                        </div>
                        <div class="content-child">
                            <h4>Certified JAVA Developer</h4>
                            <p>ABCD Institute of Programming</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>
        </section>

        <section>
            <div class="footer row">
                <div class="column">
                    <h2>LANGUAGES</h2>
                    <ul style="list-style-type:none;">
                        <li><span class="header-list">English</span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                        </li>

                        <li><span class="header-list-hi">Hindi</span>
                            &nbsp; &nbsp;
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                        </li>

                        <li><span class="header-list">Marathi</span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                        </li>
                    </ul>
                </div>
                <div class="column">
                    <h2>MY INTRESTS</h2>
                    <div class="flex">
                        <div id="container" style="white-space:nowrap">

                            <div id="image" style="display:inline;">
                                <img src="../public/img/shopping.png" />
                            </div>

                            <div id="texts" style="display:inline; white-space:nowrap;">
                                Shopping
                            </div>

                        </div>
                        <div id="container" style="white-space:nowrap">

                            <div id="image" style="display:inline;">
                                <img src="../public/img/reading.png" />
                            </div>

                            <div id="texts" style="display:inline; white-space:nowrap;">
                                Reading
                            </div>

                        </div>
                        <div id="container" style="white-space:nowrap">

                            <div id="image" style="display:inline;">
                                <img src="../public/img/travel.png" />
                            </div>

                            <div id="texts" style="display:inline; white-space:nowrap;">
                                Travel
                            </div>

                        </div>
                        <div id="container" style="white-space:nowrap">

                            <div id="image" style="display:inline;">
                                <img src="../public/img/photography.png" />
                            </div>

                            <div id="texts" style="display:inline; white-space:nowrap;">
                                Photography
                            </div>

                        </div>
                        <div id="container" style="white-space:nowrap">

                            <div id="image" style="display:inline;">
                                <img src="../public/img/video-games.png" />
                            </div>

                            <div id="texts" style="display:inline; white-space:nowrap;">
                                Video Games
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    </div>
</body>

</html>